<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Daniel de Lima Leal</ion-card-title>
      <ion-card-subtitle>[PAS23103|BG|N|ADS0301N]</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="'assets/img/perfil.jpg'" style="width: 150px; height: 150px;"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>